*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    min-height: 2000px; 
    background-color: #0093E9;
    background-image: -webkit-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: -moz-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: -o-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 1200px;
    width: 800px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;

}
 .card img{
    height: 24%;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
} 
.textbox{
    display: flex;
    flex-direction: column;
    font-size: 2.1em;
    gap: 40px;
    padding: 50px;
    align-items: center;
    justify-content: center; 
}
.amountBox{
    width: 85%;
    height: 7.9%;
    background-color: rgb(46, 204, 224);
    border-radius: 25px; 
    display: flex;
    justify-content: space-between;

}

#leftBox{
    height: 25rem;
    display: flex; 
    gap: 15px;
    font-weight: 700;
    font-size: 1.4rem;
    color: black;
}
.rightBox{

}
#cangeBox{
    
    justify-content: end;
    margin: 0.8em;
    padding: 0.3em;
    font-weight: 1000;
    font-size: 1.9rem;



}

#changeBox{
    height: 40px;
    width: 40px;
    font-weight: bold;
}

#leftBox imgBox{ 
    height: fit-content;
    width: fit-content;  
}
#buttonBox{
    width: 640px;
    height: 80px;
    align-items: center;
    background-color: rgb(75, 134, 202);
    border-radius: 20px;
    box-shadow: rgba(17, 3, 97, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    

}
#buttonBox p{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}
.cancelBox a {
    align-items: center;
    font-weight: bold;
    font-size: 2.2em;
    color: blue;
  
}


    